.nav {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 20px;
  height: 40px;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  background-color: transparent;
}

.nav__logo {
  position: fixed;
  left: 20px;
  width: 100px;
  object-fit: contain;
}

.nav__avatar {
  position: fixed;
  right: 20px;
  width: 40px;
  object-fit: contain;
}
